.irb-history
*.swp
.DS_Store
node_modules
package-lock.json
*.trace
xcuserdata
*.sublime-*
test/functional/_joined
*.iml
!sample-code/java/*.iml
*.autosave
.idea/
!sample-code/java/.idea/
*.log
*.t
target
test-output
